import type { FC } from 'react';
import clsx from 'clsx';
import cls from './{{pascalCase name}}.module.scss';

interface {{pascalCase name}}Props {
    className?: string;
}

export const {{pascalCase name}}: FC<{{pascalCase name}}Props> = ({className}) => {

    return <div className={clsx(cls.{{camelCase name}}, className)}>{{pascalCase name}}</div>;
};